# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pyc
/static/
/media/
/.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.py
**/migrations/__pycache__/

# Virtual Environments
venv/
env/
